
:root{
    --fs-xl: 10vw;
    --fs-1200: 2.5rem;
    --fs-1000: 2rem;
    --fs-800: 1.75rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;

    --fs-font-progress-count: 0.9rem;
    --fs-font-seating: 1rem;
    --fs-font-payment: 1.5rem;
}  


.btnLogin{
    border-style: solid;
    border-radius: 1.75rem;
    padding: 0.5rem 1rem;
    
    font-size: 1.25rem;
    font-weight: 600;

    min-width: 7rem;
    min-height: 1.5rem;
}

.btnRegister{
    

    background-color: var(--color-white);
    color: var(--color-blue);
    border-width: 2px;
    border-style: solid;
    border-radius: 1.75rem;
 
    font-size: 1.25rem;
    font-weight: 600;

    min-width: 7rem;
    min-height: 1.5rem;
}

.loginBox{
    background-color: var(--color-yellow);
    padding: 3rem 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    min-height: 33.75rem;

    margin: 3.75rem 2.25rem;
    border-radius: 1rem;

    background-image: url("./components/loginBoxBackGround.png");
    background-size: 1440px 33.75rem;
}


.title{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--color-blue);
    margin: 1rem;
}

.textboxInput{
    border-radius: 1rem;
    border-width:2px;
    margin: 1.75rem 0rem;
}

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem; 
}

.icon{
    color:var(--color-blue);
    font-size: 2.5rem;
}

.flexContent{
    display:flex;
    justify-content: space-evenly;
}