:root {
    --fs-xl: 10vw;
    --fs-1200: 2.5rem;
    --fs-1000: 2rem;
    --fs-800: 1.75rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;

    --fs-font-progress-count: 0.9rem;
    --fs-font-seating: 1rem;
    --fs-font-payment: 1.5rem;
}


//button
.btnReturn {
    &:hover {
        background-color: rgba(0, 0, 0, 0);
        color: var(--color-gray);
        text-shadow: 0.15rem 0.15rem 0.2rem;
        border-style: none;
        font-weight: 700
    }

    border-style:none;

    letter-spacing: 0.3rem;
    font-size: 1.5rem;
    font-weight: 400;

    min-width: 7rem;
    min-height: 1.5rem;

    color:var(--color-gray);
    background-color: rgba(0, 0, 0, 0);
}

.btnVideo {
    &:hover {
        background-color: var(--color-orange);
        border-style: none;
    }

    border-style: solid;
    border-radius: 1.75rem;
    padding: 0.5rem 1rem;

    font-size: 1.5rem;
    font-weight: 600;

    min-width: 15rem;
    min-height: 1.5rem;
}

.btnFinish {
    &:hover {
        background-color: var(--color-orange);
        border-style: none;
    }

    border-style: solid;
    border-radius: 1.75rem;
    padding: 0.5rem 1rem;

    font-size: 1.5rem;
    font-weight: 600;

    min-width: 12.75rem;
    min-height: 1.5rem;
}

.btnFavorites {
    &:focus {
        background-color: var(--color-white);
        color: var(--color-orange);
        border-style: solid;
        border-color: var(--color-orange)
    }

    &:hover {
        background-color: var(--color-orange);
        border-style: none;
    }

    background-color: var(--color-white);
    color: var(--color-blue);
    border-width: 2px;
    border-style: solid;
    border-radius: 1.75rem;

    font-size: 1.5rem;
    font-weight: 600;

    min-width: 12.75rem;
    min-height: 1.5rem;
}


//container
.setMargin {
    margin: 3.75rem 2.25rem 0rem 2.25rem;
}

.summaryBox {
    background-color: var(--color-yellow);
    padding: 3rem 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    min-height: 41.75rem;

    margin: 0rem 2.25rem 3.75rem 2.25rem;
    border-radius: 1rem;
    border-style: solid;
    border-color: var(--color-blue);
    border-width: 2px;

}

.tagBox {
    background-color: var(--color-white);
    //padding: 3rem 3rem;

    min-height: 3.25rem;
    min-width: 15rem;
    margin: 0.625rem;

    border-radius: 0.25rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 1.25rem;

    color: var(--color-blue);

}

.infoBox {
    margin: 4rem 0;
}

.pageNumberBox{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-white);
    color: var(--color-blue);

    font-size: 1.5rem;
    font-weight: 400;

    min-width: 3.25rem;
    min-height: 3rem;

    border-style: solid;
    border-width: 2px;
    border-color: var(--color-blue);
    border-radius: 0.5rem;
}

//Title
.setName {
    color: black;


    letter-spacing: 0.1rem;
    font-weight: 600;
    font-size: 3rem;
}

.setExercise {
    color: black;   

    letter-spacing: 0.2rem;
    font-weight: 500;
    font-size: 2rem;
}

.instruction {
    color: black;

    font-weight: 250;
    font-size: 1.5rem;
    margin: 0 1rem;
}

.leftColumn {
    border-left-style: solid;
    border-color: var(--color-blue);
    border-width: 4px;
}





.image {
    border-radius: 1rem;
    max-width: 95%;
    max-height: 90%;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.flexContent {
    display: flex;
    justify-content: space-between;

    min-width: 40rem;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flexInput {
    display: flex;
    flex-direction: row;
    //align-items: center;
    gap: 1rem;
    min-height: 4.5rem;

    margin: 1rem 0rem;
}