.dropdownChoice {
    display: flex;
    flex-direction: row;
    //justify-content: center;
    align-items: center;
    height: 40px;
    width: 118px;
    border-color: var(--color-blue);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    margin: 1px 0px 8px 16%;
}

.content {
   width: 85%;
   text-align: center;
}

.icon {
    width: 15%;
    border: 1px solid var(--color-blue);
    padding: 7px 0px;
    border-radius: 0px 4px 4px 0;
}